<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Test page</title>

    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/directory/select2.min.css}"/>
</head>
<body>
    <p>Text page</p>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/select2.min.js}"></script>
    <script th:src="@{directory/jquery-ui.min.js}"></script>
</body>
</html>